# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.complex.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Source\Udemy\Docker\complex\.idea\.idea.complex.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
